{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.author.location %}
      <li><i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{ site.author.location }}</li>
    {% endif %}
    {% if site.author.email %}
      <li><a href="mailto:{{ site.author.email }}"><i class="fas fa-envelope" aria-hidden="true"></i> {{ site.author.email }}</a></li>
    {% endif %}
  </ul>
</div>

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
</div>
